################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WizardMakerTestbed/.vs/WizardMakerTestbed/FileContentIndex
/WizardMakerTestbed/obj/**
/WizardMakerTestbed/obj/Debug
/WizardMakerTestbed/bin/**
WizardMakerTestbed/packages/**
/WizardMakerTestbed/.vs/WizardMakerTestbed/v17/.suo
/WizardMakerTestbed/Form2.resx
/WizardMakerTestbed/Form2.Designer.cs
/WizardMakerTestbed/Form2.cs
